<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Cartoon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Cartoon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Forest</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Forest</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Mono</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Mono</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Night</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Night</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>ThriveWood erinnert dich an deine Habits, damit dein Wald wächst.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
